.v-data-table ::v-deep {
  .v-text-field__details {
    display: none;
  }

  .v-input--dense > .v-input__control > .v-input__slot {
    margin-bottom: 0;
  }
}

td {
  border-bottom: none !important;
  border-top: thin solid rgba(0, 0, 0, 0.12);
}

tr:first-child td,
.sub-row td {
  border-top: none;
}

.sub-row {
  background-color: #efefef;
}

.cell-input-qty {
  width: 55px;
}

.cell-input-select {
  width: 65px;
}

.active-style {
  border: 2px solid #00838f;
}

.multiplier-container {
  width: 100px;
}

::v-deep .tiny-font {
  font-size: 12px;
}

.actions-cell {
  width: 75px;
}

.item-list-container {
  width: 350px;
}

@media print {
  .door-styles,
  .item-list-container,
  ::v-deep .actions-cell {
    display: none !important;
  }

}
